name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  release:
    name: Build and release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run check

      - name: Get version
        run: 'echo "RELEASE_TAG=v$(jq -r ''.version'' package.json)" >> $GITHUB_ENV'

      - name: Build code
        run: npm run build

      - name: Tar and compress
        run: tar -cf - *.js *.map *.ts | gzip -9 > maplibre-gl-versatiles-styler.tar.gz
        working-directory: dist

      - name: Upload file to release
        run: gh release upload $RELEASE_TAG *.gz --clobber
        working-directory: dist

      - name: Update release
        run: gh release edit $RELEASE_TAG --draft=false --latest --prerelease=false
